 * {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
  }
  
  .btn-primary {
    color: #C5C6C7 !important;
    border:solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
    background-color: #240090a1 !important;
  }
  
  .btn-outline-primary {
    color: #C5C6C7 !important;
    border:solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .btn-outline-primary:hover {
    background-color: #240090a1 !important;
    color: #C5C6C7 !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .btn-outline-primary:focus {
    background-color: #240090a1 !important;
    color: #C5C6C7 !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .btn-outline-primary:active {
    color: #C5C6C7 !important;
    border:solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .form-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color:#3500D3;
    border-width: 0.15rem;
    border-radius: 5px;
    margin-top: 15%;
    background-color: #282828af;
    padding: 5%;
  }
  
  .form-control-lg {
    border: solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
    background-color: #2400907e !important;
    color: #C5C6C7 !important;
  }
  
  .form-control {
    border: solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
    background-color: #282828af !important;
    color: #C5C6C7 !important;
  }
  
  ::placeholder {
    color: #C5C6C7;
    font-weight: normal;
    font-size: smaller;
    font-family: FontAwesome;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C5C6C7;
    font-weight: normal;
    font-size: smaller;
    font-family: FontAwesome;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C5C6C7;
    font-weight: normal;
    font-size: smaller;
    font-family: FontAwesome;
  }
  
  .sidebar-wrapper {
    border: medium solid #49A29E;
  }
  
  .tab-content {
    color: #C5C6C7;
    background-color: #282828af;
    border: hidden;
    border-color:#3500D3;
    border-width: 0.15rem;
    border-radius: 2px;
  }
  
  .nav-pills .nav-link {
    color:#C5C6C7 !important;
  }
  
  .nav-pills .nav-link:hover {
    color:#c5c6c77a !important;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #C5C6C7 !important;
    background-color: transparent !important;
    border: solid #3500D3 !important;
    border-radius: 2px !important;
    border-width: 0.1rem !important;
  }
  
  .id-tab {
    color: #C5C6C7;
    background-color: #282828af;
    border-top: hidden #3500D3;
    border-left: hidden #3500D3;
    border-right: hidden #3500D3;
    border-width: 0.15rem;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
  }
  
  .modal-wrapper {
    background-color: #282828 !important;
    border: solid #3500D3 !important;
    border-width: 0.125rem !important;
    border-radius: 4px;
    color: #C5C6C7 !important; 
  }
  .chat-title-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .chat-title {
    font-size: larger;
    font-weight: bold;
    font-family: FontAwesome;
  }
  
  .list-group-item {
    background-color: #282828af !important;
    color: #C5C6C7 !important;
  }
  
  .list-group-item.active {
    background-color: #18006193 !important;
    border-top: thin solid transparent !important;
    border-bottom: thin solid transparent !important;
  }
  .label {
    color: #C5C6C7 !important;
  }
  input {
    font-family: FontAwesome;
  }
  .point-Left {
    width: 5vw;
    height: auto;
  }
  .no-chat-selected {
    display: flex;
    font-size: normal;
    padding: 25px;
    color: #C5C6C7;
    align-self: center;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    box-shadow: 0px 0px 20px #282828;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
.remove-chat-member-wrapper {
    border: thin solid #3500D3 !important;
    border-radius: 5px;
  }

.members-wrapper {
  border: thin solid #3500D3 !important;
  border-radius: 5px !important;
}
.chat-members {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  font-weight: bold;
  color: black;
  background-color: transparent;
  box-shadow: 0px 0px 10px #3500D3;
  margin: 5px;
  font-family: FontAwesome;
}