 * {
    font-family: Avenir, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
      Helvetica Neue, Arial, Noto Sans, sans-serif, Apple Color Emoji,
      Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
    letter-spacing: 0.5px;
  }
  
  .btn-primary {
    color: #C5C6C7 !important;
    border:solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
    background-color: #240090a1 !important;
  }
  
  .btn-outline-primary {
    color: #C5C6C7 !important;
    border:solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .btn-outline-primary:hover {
    background-color: #240090a1 !important;
    color: #C5C6C7 !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .btn-outline-primary:focus {
    background-color: #240090a1 !important;
    color: #C5C6C7 !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .btn-outline-primary:active {
    color: #C5C6C7 !important;
    border:solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
  }
  
  .form-wrapper {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: solid;
    border-color:#3500D3;
    border-width: 0.15rem;
    border-radius: 5px;
    margin-top: 15%;
    background-color: #282828af;
    padding: 5%;
  }
  
  .form-control-lg {
    border: solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
    background-color: #2400907e !important;
    color: #C5C6C7 !important;
  }
  
  .form-control {
    border: solid !important;
    border-color: #3500D3 !important;
    border-width: 0.15rem !important;
    background-color: #282828af !important;
    color: #C5C6C7 !important;
  }
  
  ::placeholder {
    color: #C5C6C7;
    font-weight: normal;
    font-size: smaller;
    font-family: FontAwesome;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #C5C6C7;
    font-weight: normal;
    font-size: smaller;
    font-family: FontAwesome;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: #C5C6C7;
    font-weight: normal;
    font-size: smaller;
    font-family: FontAwesome;
  }
  
  .sidebar-wrapper {
    border: medium solid #49A29E;
  }
  
  .tab-content {
    color: #C5C6C7;
    background-color: #282828af;
    border: solid;
    border-color:#3500D3;
    border-width: 0.15rem;
    border-radius: 2px;
  }
  
  .nav-pills .nav-link {
    color:#C5C6C7 !important;
  }
  
  .nav-pills .nav-link:hover {
    color:#c5c6c77a !important;
  }
  
  .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    color: #C5C6C7 !important;
    background-color: #3500d3ab !important;
  }
  
  .id-tab {
    color: #C5C6C7;
    background-color: #282828af;
    border: solid;
    border-color:#3500D3;
    border-width: 0.15rem;
  }
  
  .modal-wrapper {
    background-color: #282828 !important;
    border: thin solid #3500D3 !important;
    border-radius: 5px;
    color: #C5C6C7 !important; 
  }
  
  .list-group-item {
    background-color: #282828af !important;
    color: #C5C6C7 !important;
  }
  
  .list-group-item.active {
    background-color: #18006193 !important;
    border-top: thin solid #3500D3 !important;
    border-bottom: thin solid #3500D3 !important;
  }
  .label {
    color: #C5C6C7 !important;
  }
  .bg-secondary {
    background-color: #222629 !important;
  }
  input {
    font-family: FontAwesome;
  }